/* pc.css */
body {
  /* background: #ccc; */
  font-size: 20px;
}

.container {
  width: 100%;
  /* max-width: 1440px;
  margin: 0 auto; */
  padding-left: 30px;
  padding-right: 30px;
  /* outline: 1px solid #333; */
}

#main-header {
  position: fixed;
  width: 100%;
}

#main-header .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  background: white;
}

#main-header .container .logo {
  margin-top: 10px;
  width: 15vw;
}

#gnb {
  position: absolute;
  right: 156px;
}
#gnb ul li {
  display: inline-block;
  margin-left: 40px;
  font-size: 16px;
}
#gnb ul li ::after {
  content:""; 
  display: block; 
  border-bottom: 3px solid #155295; 
  transition: 250ms ease-in-out; 
  left: auto; width: 0;
}

#gnb ul li :hover::after{
  width: 100%;
}

.login-btn {
  position: relative;
  background-color: #fff;
  right: 5px;
  top: 5px;
  cursor: pointer;
}
.login-btn-hover {
  position: absolute;
  top: 1px;
  left: 0px;
  display: none;
  animation: fadein ;
  -moz-animation: fadein 0.5s;
  -webkit-animation: fadein 0.5s;
  -o-animation: fadein 0.5s;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.login-btn:hover .login-btn-hover {
  display: block;
}
@media screen and (max-width: 910px) {
  #gnb ul li {
    margin-left: 80px;
  }
}

/* 메인 비주얼 */
#main-visual {
  background-color: #fff;
  width: auto;
  box-sizing: content-box;
  padding-top: var(--pc-header-height);  
}

#main-visual .container {
  width: 100%; 
  padding: 0px;
  margin: auto;
  height: auto;
  text-align: center;
}

#main-visual .title h1 {
  border: 1px;
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  line-height: 120px;
  color: #fff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../images/grt-banner.png");
}

#main-visual .title p {
  height: 100px;
  padding-top: 60px;
  margin-bottom: 64px;
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  text-decoration: underline  ;
  text-underline-offset: 15px;
}

#main-visual .title .grt-btn {
  border-bottom: 1px solid #ccc;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.grt-btn ul li {
  display: inline-block;
  margin-right: 30px;
  margin-left: 30px;
  color: #000;
  text-decoration: none;  
  font-size: 18px;
  font-weight: 500;
}
  .grt-btn li::after {
    content:""; 
    display: block; 
    border-bottom: 3px solid #155295; 
    transition: 250ms ease-in-out; 
    left: auto; width: 0;}

  .grt-btn ul li:hover::after {
    width: 100%;
  }
  .grt-btn a{
    color: #000;
    text-decoration: none;  
  }


  #main-visual .img {
    margin-top: 100px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #main-visual .img .img-detail {
    top: 60px;
    padding-bottom: 20px;
    position: absolute;
  
  }
  
  .map-size-btn {
    border: 0;
    margin-top: 680px;
    margin-left: 1000px;
    
  }
  
  #information {
    
    text-align: center;
    width: auto;
    background: #fff;
    
  }
  .adress {  
    background: #fff;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 280px;
  }
  
  .a-name {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-left: -1200px;
  }
  .main-adress {
    
    text-align: center;
    font-size: 30px;
    margin-left: -850px;
  }
  
  
  
  .way-point-icon {  
    
    position: relative;
    top: 5px;
  
  }
  .train-icon {
    position: relative;
    left: -700px;
    top: 50px;
  }
  .bus-icon {
  position: relative;
  left: -100px;
  top: 60px;
  }
  .train-inf {
    text-align: center;
    margin-top: -205px;
    margin-left: 140px;
  }
  .train-inf p{
    position: relative;
    left: -540px;
    font-size: 30px;
    font-weight: 500;
    
  }
  .bus-inf {
    position: relative;
    top: -100px;
    left: 200px;
  }
  
  .vihicle-icon {
    width: 90px;
    position: relative;
    top: 90px;
    left: -75px;
  }
  
  .bus-inf p{
    position: relative;
    left: 50px;
    top: 10px;
    font-size: 30px;
    font-weight: 500;
    
  }
  .train-come {
    position: relative;
    display: inline-block;
    text-align: left;
    margin-left: -370px;
    top: -120px;
    font-size: 30px;
    
  }
  .bus-come {
    position: relative;
    display: inline-block;
    text-align: left;
    top: -155px;
    left: 240px;
    font-size: 30px;
  }
  .bus-number1 {
    position: relative;
    left: 50px;
    top: -10px;
  }
  
  .bus-number2 {
    position: relative;
    left: 50px;
    top: -7px;
  }
  
  #main-footer {
    background: #F2F3F4;
    /* outline: 1px solid blue; */
    width: 100%;
    margin-top: 50px;
    height: 160px;
    color: #888;
    position: relative;
  }
  
  #main-footer .fBox {
    padding-top: 26px;
    padding-bottom: 26px;
    display: flex;
    height: 100%;
  }
  
  #main-footer .fBox .footer-menu {
    margin-top: 10px;
    font-size: 14px;
  }
  
  #main-footer img {
    width: 236px;
  }
  
  #main-footer .sns-link {
    /* outline: 1px solid blue; */
    display: flex;
    justify-content: space-around;
  }
  
  #main-footer .sns-link a {
    font-size: 30px;
    color: #888;
    /* outline: 1px solid red; */
  }
  
  #main-footer .fBox .fr-menu {
    position: absolute;
    right: 30px;
  }
  
  #main-footer .family-site {
    margin: 0;
    /* outline: 1px solid green; */
    margin-top: 45px;
    width: 162px;
  }
  
  #main-footer .family-site #siteList {
    width: 162px;
    height: 28px;
    border: none;
    background: transparent;
    border-bottom: 1px solid #666;
  }
  #siteList {
    outline: none;
}